@model StoreWebApp.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Подробности о товаре"; //Можно добавить после кавычек: + Model.Name
}

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="blog">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Товар</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">из каталога</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="owl-carousel owl-theme s_Product_carousel">
                    <div class="single-prd-item">
                        <img class="img-fluid" src="../..@Model.Product.Image" alt="">
                    </div>
                    <!-- <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                    </div> -->
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>@Model.Product.Name</h3>
                    <h2>₽@Model.Product.Price</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Категория</span> : @Model.Product.Category.Name</a></li>
                        <li><a class="active" href="#"><span>Артикул</span> : @Model.Product.Article</a></li>
                        <li><a href="#"><span>Наличие</span> : @Model.Product.Availability</a></li>
                        <li><a href="#"><span>Размеры (ДxШxВ)</span> : @Model.Product.Description см</a></li>
                    </ul>
                    <p>
                        После отправки заказа мы свяжемся с Вами и уточним, какой именно товар есть в наличии. Если он Вам не подойдет, то мы выполним заказ в индивидуальном дизайне менее чем за 7 дней.
                    </p>
                    <div class="product_count">
                        <label for="qty">Количество:</label>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                class="increase items-count" type="button">
                            <i class="ti-angle-left"></i>
                        </button>
                        <input type="text" name="qty" id="sst" size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                class="reduced items-count" type="button">
                            <i class="ti-angle-right"></i>
                        </button>
                        <a class="button primary-btn" href="#">В корзину</a>
                    </div>
                    <div class="card_area d-flex align-items-center">
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================ Start related Product area =================-->
<section class="related-product-area section-margin--small">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>чаще всего</p>
            <h2>С этим товаром <span class="section-intro__style">покупают</span></h2>
        </div>
        <div class="row mt-30">
            <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                <div class="single-search-product-wrapper">
                    @foreach (var rp in Model.RecommendedProducts)
                    {
                        <div class="single-search-product d-flex">
                            <a asp-action="Details" asp-controller="Home" asp-route-id="@rp.Id"><img src="../..@rp.Image" alt=""></a>
                            <div class="desc">
                                <p class="small mb-0">@rp.Category.Name</p>
                                <a class="title" asp-action="Details" asp-controller="Home" asp-route-id="@rp.Id">@rp.Name</a>
                                <div class="price">₽@rp.Price</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ end related Product area =================-->
